.msg-inner {margin: 0 auto;width: 950px;position:relative;}
#msg-container {float: left;width: 100%;}
.msg-body{display:none;}
.msgtext {float: left;font-size: inherit;color: inherit;font-family: inherit;}
#block-views-citylist-block_1 {float: left;width: 100%;}
.inner-content ul {float: left;margin: 12px 22px 19px 61px;list-style: none;}
.inner-content ul li a {color:#595959;}
.inner-content ul li a:hover {color:#5a8e22;}
.butonimg { line-height: 31px;text-align: center;height: 31px;cursor:pointer;width: 131px;/*text-indent:-9999px*/}
.butonimghover {height: 31px;width: 131px;}
#vs_posttype-page {height: 100px;overflow: auto;}